*__pycache__/
*.pyc
*.pyo
*.pyd
culinaryhub/.env
.venv
venv/
env/
*.log
*.cache
.idea
*.sqlite3
*.sqlite
pg_data/
additional/
migrations/
static/
backup/
media/
*.env
query.py
*.json