{% extends "hub/index.html" %}
{% load django_bootstrap5 %}
{% block content %}
<div class="row justify-content-center align-items-center mt-5 mb-5">
    <div class="col-md-5">
        <h2 class="mb-4 text-center text-success-emphasis">Смена пароля</h2>
        <div class="card border-danger border-3 px-3 py-3">
            <form method="post" action="{% url 'change_password' %}">
                {% csrf_token %}
                <div class="mb-3">
                    {% bootstrap_field form.old_password %}
                </div>
                <div class="mb-3">
                    {% bootstrap_field form.new_password1 %}
                </div>
                <div class="mb-3">
                    {% bootstrap_field form.new_password2 %}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-danger">Поменять пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
