{% load django_bootstrap5 %}
{% load widget_tweaks %}
<form hx-post="{% url 'step_form' %}" hx-target="#recipe_form" hx-swap="outerhtml">
    {% bootstrap_messages %}
    {{ formset.management_form }}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ step_token }}">
    {% bootstrap_formset step_formset %}
    <div class="text-center">
        <button class="btn btn-warning" type="button" hx-get="{% url 'save_recipe'%}" hx-target="#recipe_form" hx-swap="outerhtml">Вернуться к рецепту</button>
        <button class="btn btn-warning" type="submit" hx-get="{% url 'step_form' %}" hx-target="#recipe_form" hx-swap="outerhtml">Перейти к шагам</button>
    </div>
</form>
